{
  "openapi": "3.0.1",
  "info": {
    "title": "Spellbound API",
    "description": "Spellbound's API for sending interactive emails.",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://app.spellbound.io/v1"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/emails/send": {
      "post": {
        "description": "Sends a Spellbound email template to a recipient.",
        "requestBody": {
          "description": "Email to send",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Email"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success!",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Success"
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error occurred",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Email": {
        "required": ["templateId", "to"],
        "type": "object",
        "properties": {
          "templateId": {
            "description": "The Spellbound email ID, which can be found in the URL of the selected email in the designer or in the code snippet on the Test & Deploy page.",
            "type": "string"
          },
          "to": {
            "description": "Recipient of the email. Required.",
            "$ref": "#/components/schemas/Person"
          },
          "from": {
            "description": "Overrides the Sender details set in Test & Deploy.",
            "$ref": "#/components/schemas/Person"
          },
          "replyTo": {
            "description": "If you need the reply-to email to be different from the from email.",
            "$ref": "#/components/schemas/Person"
          },
          "subject": {
            "description": "Overrides the subject line specified in Test & Deploy.",
            "type": "string"
          },
          "templateData": {
            "description": "Custom data to be injected into the email template (JSON).",
            "type": "object"
          },
          "sendAt": {
            "description": "UNIX timestamp to schedule the email in the future instead of sending now.",
            "type": "number"
          },
          "html": {
            "description": "Overrides the HTML mimetype of the email template.",
            "type": "string"
          },
          "amp": {
            "description": "Overrides the AMP mimetype of the email template.",
            "type": "string"
          },
          "text": {
            "description": "Overrides the TXT mimetype of the email template.",
            "type": "string"
          }
        }
      },
      "Person": {
        "required": ["email"],
        "type": "object",
        "properties": {
          "email": {
            "type": "string"
          },
          "name": {
            "type": "string"
          }
        }
      },
      "Error": {
        "required": ["error", "message"],
        "type": "object",
        "properties": {
          "error": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "Success": {
        "required": ["message"],
        "type": "object",
        "properties": {
          "error": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}
